[Unit]
Description=Serve Copy Party
After=network.target

[Service]
Type=simple
User=serve_copyparty
Restart=on-failure
RestartSec=33
ExecStart=/usr/local/bin/serve-copyparty

[Install]
WantedBy=default.target
