keybinds clear-defaults=true {
    normal {
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen false
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

on_force_close "detach"
simplified_ui true
default_shell "fish"
pane_frames false
theme "catppuccin-mocha"
default_layout "compact"
default_mode "locked"
mouse_mode false
scroll_buffer_size 100000
copy_on_select false
