[Unit]
Description=The Lounge IRC
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=33
ExecStart=/usr/local/bin/serve-thelounge

[Install]
WantedBy=default.target
