[Unit]
Description=Immich
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=33
ExecStart=/usr/local/bin/serve-immich

[Install]
WantedBy=default.target
