[Unit]
Description=The Lounge IRC
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=33
ExecStart=/usr/bin/podman start -a thelounge
ExecStop=/usr/bin/podman stop thelounge

[Install]
WantedBy=default.target
